body{
  font-family: "DM Sans", sans-serif;
  /* box-sizing: border-box; */
  background-color: var(--white);
  overflow:initial !important;
  font-size: 12px;
}

:root{
  --dark:#141414;
  --dark-trans:#141414ee;
  --light:#f5f5f5;
  --white:#ffffff;
  --black:#000000;
  --green:#05c560;
  --grey:#fcfdff;
  --darkgrey:#eaf1ff;
  --upwork:#13a800;
  --linkedin: #0072b1;
  --freelancer: #0457d3;
}

button a{
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  color: var(--dark);
}

.cta a{
  text-decoration: none;
  list-style: none;
  color: var(--dark);
}

.section-header{
  display: block;
  font-size: 3rem;
  color: var(--white);
  font-weight: 800; 
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--green);
  /* border-bottom: 10px solid var(--green); */
}

.subsection{
  font-size: 1rem;
  color: var(--grey);
  font-weight: 500; 
}

nav{
  /* width: 100%; */
  /* position: fixed;
  bottom: 0; */
  display: flex;
  width: 100vw;
  padding:5px 40px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  z-index: 1000;
  background-color: var(--dark-trans);
  position: fixed;
  top: 0
  ;

}

.nav-middle {
  display: flex;
  align-items: center ;
}

.nav-middle ul li a{
 align-items: center;
  display: flex;
  /* justify-content: center; */
  text-decoration: none;
  color: var(--light);
  list-style: none;
  font-size: .9rem;
  gap: 50px;
  margin:  0px;
  cursor: pointer;
  color: var(--grey);

}

.nav-middle ul li, .nav-middle a{
 
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding-top: 8px;
  color: var(--light);
  list-style: none;
  font-size: .9rem;
  gap: 50px;
  margin-top: 10px;  font-weight: 300;
  margin: auto 50px;
  cursor: pointer;
} 

.nav-middle img{
  display: block;
  margin-top: 20px;
  align-items: center;
  /* background-color: red; */
}

.nav-right {
  cursor: pointer;
  display: flex;
  align-items: center;
  /* background-color: var(--green); */
  color: var(--dark);
  border: none;
  font-size: .9rem;
 

}

.nav-right img{
  color: var(--green);
  cursor: pointer;
  margin: 0 20px;
  background-color: rd;
}


button:hover{
  opacity: 0.8;
}

.nav-middle li:hover, .nav-middle a:hover{
  cursor: pointer;
  color: var(--green);
  cursor: pointer;
  overflow: hidden;
  

} 

button{
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: var(--LIGHT);
  color: var(--light);
  border: none;
  border-radius: 60px;
  padding: 10px 20px;
  font-size: .9rem !important;
}

button:hover{
  opacity: 0.8;
}

header{
 background-image: url(/assets/bg-01.svg);
 object-fit: cover;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-color: var(--white);
  padding: 0px 0;
  margin-top: 100px;
  height: 80vh;
  /* justify-content: center; */
}

.header-left{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center ;
}
.header-left h1{
  font-weight: 600;
  display: inline-block;
 font-size: 2.5rem;
 color: var(--green);
 margin: 0;

 overflow: hidden; 
  border-right: .06em solid var(--green); 
  white-space: nowrap; 
  margin: 0 auto; 

  animation: 
    typing 2.5s steps(30, end),
    blink-caret .5s step-end infinite;
 /* font-family: "Pacifico", cursive; */
 /* line-height: .1; */
}

.header-left h2{
  display: block;
 font-size: 1.25rem;
 color: var(--dark);
 margin-top: 20px;
 /* font-family: "Pacifico", cursive; */
 /* line-height: .1; */
}

.header-left h3{
  display: block;
 font-size: 1.25rem;
 color: var(--dark);
 margin: 0;
}

header .profile-image img{
  border-radius: 50%;
  border: 1px solid var(--dark);
}

header .cta{
  display: flex;
  gap: 30px;
  margin-top: 15px;
}


.cta .download-cv{
  display: flex;
  align-items: center;
  background-color: var(--dark);
  border-radius: 25px;
}

.cta .contact{
  display: flex;
  align-items: center;
  background-color: none !important;
  border: 1px solid var(--dark);
  font-weight: 500;
  color: var(--dark);
  border-radius: 25px;
}

.about-contact button{
  display: flex;
  margin-top: 10px;
 background-color: var(--green);
  /* border: 2px solid var(--dark); */
  color: var(--light);
  gap: 20px;
  font-size: .9rem;
}

.cta img{
  margin-left: 20px;
}

.connect img{
  margin-left: 30px;
}

.connect .linkedin{
  /* background-color: var(--linkedin); */
  color: var(--dark);
  border: solid 1px var(--linkedin);
  background-color: none !important;
}

.connect .upwork{
  border: solid 1px var(--upwork);
  color: var(--dark);
  /* background-color: var(--upwork); */
  background-color: none !important;
}

.connect .github{
  /* background-color: var(--dark); */
  background-color: none !important;
  color: var(--dark);
  border: solid 1px var(--dark);
}

.github:hover, .upwork:hover, .linkedin:hover{
  background-color: red;

}

.arrow-down img{
  display: flex;
  align-items: center;
  margin: 18px auto;
  padding: 8px;
  border: 1px solid var(--dark);
  border-radius: 50%;
}

.connect{

  max-width: 60%;
  margin:50px auto;
  gap: 50px;
  align-items: center;
  justify-content: center;
  /* background-color:var(--white); */
  background-color:none;
  padding: 20px 40px;
  border: none;
  border-radius: 90px; 
  /* padding-top: 30px; */
}

.connect:hover{
  transition: ease-in-out 900ms;
  transition: ease-out 900ms;
  transform: ease-in-out scale(1.1);

}

.connect-right{
  display:flex ;
  gap: 30px;
  flex-wrap: wrap;
}

.connect-left{
  display:flex ;
  gap: 30px;
  justify-content: center;
  /* flex-wrap: wrap; */
}


.about{
  display: flex;
  /* background-color:var(--green); */
  background-color:var(--grey);
  align-items: center;
  width:80%;
  margin: 30px auto;
  /* align-items: center; */
  justify-content: center;
  padding: 77px 20px;
  border-radius: 30px;
  border: 1px solid rgb(224, 224, 224);
}

.about-left{
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: var(--dark);
}

.partners{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
}
.partners{
  margin-top: 20px;
}

.partner-imgs{
  justify-content: center;
  display: flex;
  gap: 30px;
}

.profile-pic{
  border-radius: 50%; 
   border: 2px solid var(--green);
  margin-top: 22px;
  
 }

.about-left img{
 margin-top: 22px;
 
}

.about-right{
  width: 50%;
}

.about-right h3{
 color: var(--dark);
}

.about-right h1{
  color: var(--green);
 }

 .contact-item{
display: flex;
gap: 8px;
align-items: center;
}

.about-right-top p{
font-size: .9rem;
color: var(--dark);
width: 80%;
}


/* .contact-item {
  color: var(--drk);
  font-size: .9rem;
} */

.contact-item a{
  text-decoration: none;
  color: var(--dark);
  font-size: .9rem;
  display: flex;
 align-items: center;

  
}

.contact-item img {
  color: var(--drk);
  display: inline-flex;
  font-size: .9rem;
  margin-bottom: 11px;
  align-items: center;
}


.socials{
  /* border-top: 2px solid var(--grey); */
  margin-top: 5px;
  display: inline-flex;
  gap: 20px;
  opacity: 0.4;
}
.socials{
 padding-top: 20px;
}



.experience-education{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  /* background-color: red; */
  /* width: 66%; */
  margin: 10px auto;
}
.experience-education h3{
  color: var(--dark);
}

.exp-edu{
  padding: 30px 50px;
  display: flex;
  width: 75%;
  /* background-color: red; */
  justify-content: center;
  gap: 200px;
  margin: 0 auto;
  border-left: 1.3px dashed rgb(228, 232, 240);
}

.education-item{
  display: flex;
  margin: 40px 0;
  font-size: .9rem;
  font-weight: 300;
  /* background-color: red; */
  align-items: center;
  gap: 30px;
}

.edu-info{
  position: relative;
  width:100%;
 
}

.edu-info:before{
  position: absolute;
  height: 59px;
padding-right: 95px;
  left: -15px;
  top: 0px;
  content: '';
  border-left: dashed 2px var(--green);
}

.edu-info:after{
  background-color: var(--green);
  border: 3px solid var(--white);
  position: absolute;
  height: 15px;
  width: 15px;
  left: -21.5px;
  top: 22px;
  border-radius: 50%;
  content: '';
}

.education h1{
  display: block;
  font-size: .9rem;
  font-weight: 500;
  margin: 0;
}

.education p{
  display: block;
  margin: 0;
  font-size: .9rem;
  font-weight: 300;
}

.education-title h1{
  font-size: 1.75rem;
  font-weight: 600;

}

.work-exp{
  padding-right: 50px;
  align-items: self-end;
  border-right: 1.3px dashed rgb(228, 232, 240);
}

.work-exp h1{
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.work-exp p{
  display: block;
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
}

.work-exp-title h1{
  font-size: 1.75rem;
  font-weight: 600;

}


.exp-info{
  position: relative;
  width:100%;
 
}

.exp-info:before{
  position: absolute;
  height: 50px;
padding-right: 95px;
  left: -15.5px;
  top: 13px;
  content: '';
  border-left: dashed 2px var(--green);
}

.exp-info:after{
  background-color: var(--green);
  border: 3px solid var(--white);
  position: absolute;
  height: 15px;
  width: 15px;
  left: -22px;
  top: 28px;
  border-radius: 50%;
  content: '';
}


.exp-item{
  display: flex;
  margin: 40px 0;
  font-size: 1rem;
  font-weight: 300;
  align-items: center;
  /* background-color: red; */
  gap: 30px;
}

.exp-info h4{
  display: block;
  font-size: .9rem;
  margin: 0;
}


footer{
  background-color: var(--dark);
  padding: 12px 74px;
  display: flex;
  align-items: center;
  color: var(--light);
  justify-content: space-between;
}


.footer-nav ul li{
 
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  color: var(--light);
  /* list-style: none; */
  font-size: 1rem;
  margin: 0 20px;
  color: var(--white);
}

.footer-right{
  color: var(--white);
  font-size: .9rem;
}


/* Form */

.form-subsection{
  font-size: 1rem;
  color: var(--dark);
  font-weight: 500; 
}

.btn-primary{
  padding: 22px 20px !important;
  background-color: var(--green) !important;
  border: none !important;
}

input{
  padding: 20px 12px !important;
  font-size: 1rem;
}


input[type=text], input[type=email], input[type=tel]{
  font-size: 1rem;
}


textarea{
  font-size: 1rem !important;
}
.form-section-header{
  display: block;
  font-size: 3rem;
  color: var(--white);
  font-weight: 800; 
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--green);
  /* border-bottom: 10px solid var(--green); */
}

.back-to-top{
  position: fixed;
 display: inline-flex;
 justify-content:  center;
 align-items: center;
  /* align-items: center; */
  background-color: var(--green);
  width: 40px;
  height: 40px;
border-radius: 50%;
right: 5px;
bottom: 5px;

}


/* My Site Keyframes */

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--green)}
}
